/* Light Mode */
body {
  font-family: 'Titillium Web', sans-serif;
  background-color: #ffffff;
  color: #333333;
}

a:link, a:visited {
  text-decoration: none;
  color: #333333;
  font-weight: 600;
}

a:hover {
  text-decoration: underline;
}

.blinking-cursor {
  font-weight: 200;
  font-size: 16px;
  color: black; /* Default per Light Mode */
  -webkit-animation: blink 1s step-end infinite;
  -moz-animation: blink 1s step-end infinite;
  -ms-animation: blink 1s step-end infinite;
  -o-animation: blink 1s step-end infinite;
  animation: blink 1s step-end infinite;
}

/* Animazione per Light Mode */
@keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-moz-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-webkit-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-ms-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-o-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

/* Dark Mode */
@media (prefers-color-scheme: dark) {
  body {
    font-family: 'Titillium Web', sans-serif;
    background-color: #333333;
    color: #ffffff;
  }

  a:link, a:visited {
    color: #ffffff;
  }

  a:hover {
    text-decoration: underline;
  }

  .blinking-cursor {
    color: white; /* Cursore bianco per Dark Mode */
    -webkit-animation: blink-dark 1s step-end infinite;
    -moz-animation: blink-dark 1s step-end infinite;
    -ms-animation: blink-dark 1s step-end infinite;
    -o-animation: blink-dark 1s step-end infinite;
    animation: blink-dark 1s step-end infinite;
  }

  /* Animazione per Dark Mode */
  @keyframes blink-dark {
    from, to {
      color: transparent;
    }
    50% {
      color: white;
    }
  }

  @-moz-keyframes blink-dark {
    from, to {
      color: transparent;
    }
    50% {
      color: white;
    }
  }

  @-webkit-keyframes blink-dark {
    from, to {
      color: transparent;
    }
    50% {
      color: white;
    }
  }

  @-ms-keyframes blink-dark {
    from, to {
      color: transparent;
    }
    50% {
      color: white;
    }
  }

  @-o-keyframes blink-dark {
    from, to {
      color: transparent;
    }
    50% {
      color: white;
    }
  }
}