/* @font-face {
  font-family: "Lato";
  src: url('698242188-Lato-Bla.eot');
  src: url('698242188-Lato-Bla.eot?#iefix') format('embedded-opentype'),
  url('698242188-Lato-Bla.svg#Lato Black') format('svg'),
  url('698242188-Lato-Bla.woff') format('woff'),
  url('698242188-Lato-Bla.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
} */

body {
  font-family: 'Titillium Web', sans-serif;
  color: #333;
}

a:link, a:visited {
  text-decoration: none;
  color: #333;
  font-weight: 600;
}

a:hover {
  text-decoration: underline
}

/* @media (prefers-color-scheme: dark) {
  body {
    color: #ddd;
    background-color: #222;
  }

  a:link, a:visited {
    color: #ddd;
  }
} */

.blinking-cursor {
  font-weight: 200;
  font-size: 16px;
  color: #2E3D48;
  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  -ms-animation: 1s blink step-end infinite;
  -o-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite;
}

@keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-moz-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-webkit-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-ms-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-o-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}